<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Listing Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}" />
</head>

<body>
    <header>
        <div class="logo-container">
            <a href="{{ url_for('homepage')}}">
                <img src="{{url_for('static', filename='logo.png')}}" class="logo" />
            </a>
        </div>
        <div class="logout-container">
            <form action="{{ url_for('logout') }}" method="POST">
                <button type="submit" class="logout-button">Log Out</button>
            </form>
        </div>
    </header>

    <!-- Taskbar (Navigation) -->
    <nav class="taskbar">
        <ul>
            <li><a href="{{ url_for('listingsearch')}}"><button>Search for Listings</button></a></li>
            <li><a href="{{ url_for('roommatesearch')}}"><button>Search for Roommates</button></a></li>
            <li><a href="{{ url_for('listings')}}"><button>Manage Your Listings</button></a></li>
            <li><a href="{{ url_for('preferences')}}"><button>Update Preferences</button></a></li>
            <li><a href="{{ url_for('settings')}}"><button>Settings</button></a></li>
        </ul>
    </nav>

    <div class="query">
        <form action="/get_listings" method="POST">
            <span>Maximum Budget:</span>
            <input type="number" id="budget" name="budget" min="0">
            <span>Rooms:</span>
            <select id="rooms" name="rooms">
                <option value="" disabled selected> </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span>Bathrooms:</span>
            <select id="bathrooms" name="bathrooms">
                <option value="" disabled selected> </option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button type="submit" class="searchbutton">Search</button>
        </form>
    </div>

    <h1>Listing Search Results</h1>

    {% if listings %}
    <div class="listings-list">
        <table class="listing-table">
            <thead>
                <tr>
                    <th>Listing</th>
                    <th>Price</th>
                    <th>Square Feet</th>
                    <th>Rooms</th>
                    <th>Bathrooms</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for listing in listings %}
                <tr class="listing-row" onclick="openModal('{{ listing.listing_id }}')">
                    <td>{{ listing.title }}</td>
                    <td>${{ listing.price }}</td>
                    <td>{{ listing.sq_feet }}</td>
                    <td>{{ listing.rooms }}</td>
                    <td>{{ listing.bathrooms }}</td>
                    <td>
                        <form id="interest-form-{{ listing.listing_id }}"
                            action="/add_listing_interest/{{ listing.listing_id }}/{{ session.get('user_id') }}"
                            method="POST" style="{{ 'display:none;' if listing.has_interest else 'display:block;' }}">
                            <button type="button" class="submit-button"
                                onclick="submitInterestForm('{{ listing.listing_id }}')">I'm
                                Interested</button>
                        </form>

                        <form id="delete-interest-form-{{ listing.listing_id }}"
                            action="/delete_listing_interest/{{ listing.listing_id }}/{{ session.get('user_id') }}"
                            method="POST" style="{{ 'display:block;' if listing.has_interest else 'display:none;' }}">
                            <button type="button" class="submit-button"
                                onclick="submitDeleteInterestForm('{{ listing.listing_id }}')">Remove Interest</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Modals for each listing -->
    {% for listing in listings %}
    <div id="modal-{{ listing.listing_id }}" class="modal">
        <div class="modal-content">
            <span class="close-btn" onclick="closeModal('{{ listing.listing_id }}')">&times;</span>
            <h2>{{ listing.name }}</h2>
            <table class="modal-table">
                <tr>
                    <td><strong>Owner:</strong></td>
                    <td>{{ listing.owner_name }}</td>
                </tr>
                <tr>
                    <td><strong>Title:</strong></td>
                    <td>{{ listing.title }}</td>
                </tr>
                <tr>
                    <td><strong>Square Feet:</strong></td>
                    <td>{{ listing.sq_feet }} sq ft</td>
                </tr>
                <tr>
                    <td><strong>Rooms:</strong></td>
                    <td>{{ listing.rooms }}</td>
                </tr>
                <tr>
                    <td><strong>Bathrooms:</strong></td>
                    <td>{{ listing.bathrooms }}</td>
                </tr>
                <tr>
                    <td><strong>Price:</strong></td>
                    <td>${{ listing.price }}</td>
                </tr>
                <tr>
                    <td><strong>Source:</strong></td>
                    <td>{{ listing.source }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% endfor %}

    {% else %}
    <p>No listings found that match your criteria.</p>
    {% endif %}
    <script src="{{url_for('static', filename='modal.js')}}"></script>

    <script>
        function submitInterestForm(listingId) {
            var form = document.getElementById('interest-form-' + listingId);
            var button = form.querySelector('button');
            button.disabled = true;
            button.textContent = "Adding...";

            var formData = new FormData(form);

            // Perform the AJAX request using the Fetch API
            fetch(form.action, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.message);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    // If the response was successful, update the UI
                    alert(data.message);

                    // Toggle visibility of the forms
                    var interestForm = document.getElementById('interest-form-' + listingId);
                    var deleteInterestForm = document.getElementById('delete-interest-form-' + listingId);

                    if (interestForm) {
                        interestForm.style.display = 'none';
                    }

                    if (deleteInterestForm) {
                        deleteInterestForm.style.display = 'block';
                    }

                    // Reset the button text and re-enable the button
                    button.textContent = "I'm Interested";
                    button.disabled = false;
                })
                .catch(error => {
                    // Handle errors
                    alert(error.message);

                    // Reset the button state if there was an error
                    button.textContent = "I'm Interested";
                    button.disabled = false;
                });
        }

        function submitDeleteInterestForm(listingId) {
            var form = document.getElementById('delete-interest-form-' + listingId);
            var button = form.querySelector('button');
            button.disabled = true;
            button.textContent = "Removing...";

            var formData = new FormData(form);

            // Perform the AJAX request using the Fetch API
            fetch(form.action, {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        return response.json().then(data => {
                            throw new Error(data.message);
                        });
                    }
                    return response.json();
                })
                .then(data => {
                    // If the response was successful, update the UI
                    alert(data.message);

                    // Toggle visibility of the forms
                    var deleteInterestForm = document.getElementById('delete-interest-form-' + listingId);
                    var interestForm = document.getElementById('interest-form-' + listingId);

                    if (deleteInterestForm) {
                        deleteInterestForm.style.display = 'none';
                    }

                    if (interestForm) {
                        interestForm.style.display = 'block';
                    }

                    // Reset the button text and re-enable the button
                    button.textContent = "Remove Interest";
                    button.disabled = false;
                })
                .catch(error => {
                    // Handle errors
                    alert(error.message);

                    // Reset the button state if there was an error
                    button.textContent = "Remove Interest";
                    button.disabled = false;
                });
        }
    </script>
</body>

</html>