<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
</head>

<body>
    <header>
        <a href="{{ url_for('homepage')}}">
            <img src="{{url_for('static', filename='logo.png')}}" class="logo" />
        </a>
    </header>

    <div class="form-container">
        <h2>Login</h2>
        <form action="/sign_in" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <input type="hidden" name="admin" value="false">
            <div class="checkbox-container">
                <label for="admin" class="checkbox-label">Are you an admin?:</label>
                <input type="checkbox" id="admin" name="admin" value="true">
            </div>


            <button type="submit" class="login-button">Log In</button>
        </form>
    </div>
    <h4> Don't have an account? <a href="/signup" class="signup-button">Create an account!</a></h4>



</body>

</html>