body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 100px;
    height: auto;
}

.loginbutton {
    background-color: rgb(65, 150, 255);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.loginbutton:hover {
    background-color: rgb(50, 115, 190);
    /* Darker green on hover */
}